body{
    background: black;
    main {
        .wrapper {
            margin: 100px auto 0;
            .container-fluid {
                display: flex;
                justify-content: center;
                gap: 30px;
                flex-wrap: wrap;
                .option_item {
                    display: block;
                    position: relative;
                    margin: 10px;
                    .checkbox:checked~.option_inner {
                        border: 5px solid rgb(40, 205, 245);
                        color: rgb(40, 205, 245);
                    }
                    .checkbox:checked~.option_inner .tickmark {
                        opacity: 1;
                    }
                    .option_inner {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: white;
                        border-radius: 5px;
                        text-align: center;
                        padding: 60px 40px;
                        cursor: pointer;
                        color: #585c68;
                        display: block;
                        bottom: 5px solid transparent;
                        position: relative;
                        .card-info {
                            .card-title {
                                font-size: 30px;
                                line-height: 40px;
                            }
                        }
                        .tickmark {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            border: 40px solid;
                            border-color: rgb(40, 205, 245) transparent transparent rgb(40, 205, 245);
                            opacity: 0;
                        }
                        .tickmark::before {
                            content: '';
                            position: absolute;
                            top: -28px;
                            left: -28px;
                            width: 38px;
                            height: 15px;
                            border: 5px solid;
                            border-color: transparent transparent #fff #fff;
                            transform: rotate(-45deg);
                        }
                    }
                    .checkbox {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        z-index: 1;
                        opacity: 0;
                    }
                }
            }
        }
    }
}